Source: pilight-cc
Section: python
Priority: optional
Maintainer: Johan Wermensjö, <johanwermensjoe@gmail.com>
Build-Depends: debhelper (>= 9),
               python (>= 2.7)
Standards-Version: 3.9.5
X-Python-Version: >= 2.7

Package: pilight-cc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python-gi (>= 3.12.0),
         python-protobuf (>= 2.5.0)
Description: graphical client for managing pilight units. Contains
configuration tools and functionality including audio effects,
scheduling and more.