Source: pilight-cc
Section: python
Priority: optional
Maintainer: Johan Wermensjö, <johanwermensjoe@gmail.com>
Build-Depends: debhelper (>= 9),
               python (>= 3.0)
Standards-Version: 3.9.5
X-Python-Version: >= 3.0

Package: media-cleaner
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python (>= 3.0)
Description: graphical client for managing pilight units. Contains
configuration tools and functionality including audio effects,
scheduleing and more.
